@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_LayoutTailwind.cshtml";
}

<!-- Post Section -->
<section class="w-full md:w-3/3 flex flex-col items-center px-3">
	<article class="flex flex-col shadow my-4">
		<div class="bg-white flex flex-col justify-start p-6">
			<a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">@ViewData["Title"]</a>
			<p class="pb-3">This paper presents a detailed explanation of who the end users are, what the product will do, and how the product will behave based on the user research and data analysis we have completed. This will be showcased in the form of a personas and user profile section, followed by detailed requirement breakdowns section containing requirements in the form of Volere shell snow cards with associated objective test.</p>

			<h5>Students</h5>
			<p class="pb-3">Cullen Davis | cullend@clemson.edu</p>
			<p class="pb-3">Roger Rivas | rrivasg@clemson.edu</p>
			<p class="pb-3">Connor McCoy | jmccoy7@clemson.edu</p>
			<p class="pb-3">Kunal Bajaj | kbajaj@clemson.edu</p>
		</div>
	</article>
</section>