@{
	ViewData["Title"] = "FAQ";
	Layout = "~/Views/Shared/_LayoutTailwind.cshtml";
}

<!-- Post Section -->
<section class="w-full md:w-3/3 flex flex-col items-center px-3">
	<article class="flex flex-col shadow my-4">
		<div class="bg-white flex flex-col justify-start p-6">
			<a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">@ViewData["Title"]</a>
			<h5>1. Does this provide training on FERPA and HIPAA in addition to PII?</h5>
			<p class="pb-3">Yes, the application offers training in all three topics.</p>
			<h5>2. How do I check my answers on quizzes?</h5>
			<p class="pb-3">To submit your answers and receive feedback, hit the save button beneath the last question.</p>
			<h5>3. Can I create multiple accounts?</h5>
			<p class="pb-3">Yes, as long as a new email is provided new accounts can be made.</p>
		</div>
	</article>
</section>